<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Main.css"/>

    <script
            type="text/javascript"
            src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
            type="text/javascript"
            src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
</head>

<body style="display: flex; flex-direction: column">
<div class="main main-block layout">
    <div class="main-group layout">
        <div class="main-flex layout">
            <div class="main-flex-item">
                <div
                        style="--src:url(/static/assets/cf5a934cda5d794efade3fdf41ae6608.png)"
                        class="main-image layout"
                ></div>
            </div>
            <div class="main-flex-spacer"></div>
            <div class="main-flex-item1">
                <div class="main-block1 layout">
                    <h2 class="main-medium-title layout">Home</h2>
                </div>
            </div>
            <div class="main-flex-spacer1"></div>
            <h2 class="main-medium-title1-box layout">
            <pre class="main-medium-title1" style="cursor: pointer;" onclick="location.href='/search';">
Search
</pre
>
            </h2>
            <div class="main-flex-spacer2"></div>
            <h2 class="main-medium-title layout1">About us</h2>
        </div>
    </div>

    <div class="main-flex1 layout">
        <div class="main-flex1-spacer">
            <h1 class="main-big-title layout">Sentimental analysis</h1>
            <canvas id="myChart" width="800" height="400"></canvas>
            <script>
                $(function(){
                    var ctx1 = $("#myChart");

                    //pie chart data
                      var data1 = {
                        labels: ["skip", "neutral", "positive", "negative"],
                        datasets: [
                          {
                            label: "TeamA Score",
                            data: [{{skip}}, {{neutral}}, {{positive}}, {{negative}}],
                            backgroundColor: [
                              "#DEB887",
                              "#A9A9A9",
                              "#DC143C",
                              "#F4A460",
                              "#2E8B57"
                            ],
                            borderColor: [
                              "#CDA776",
                              "#989898",
                              "#CB252B",
                              "#E39371",
                              "#1D7A46"
                            ],
                            borderWidth: [1, 1, 1, 1, 1]
                          }
                        ]
                      };

                    //options
                      var options = {
                        responsive: true,
                        title: {
                          display: true,
                          position: "top",
                          text: "Pie Chart",
                          fontSize: 18,
                          fontColor: "#111"
                        },
                        legend: {
                          display: true,
                          position: "bottom",
                          labels: {
                            fontColor: "#333",
                            fontSize: 16
                          }
                        }
                      };

                    //create Chart class object
                      var chart1 = new Chart(ctx1, {
                        type: "pie",
                        data: data1,
                        options: options
                      });
                })
            </script>
        </div>
        <!--<div class="main-flex1-item">
            <h2 class="main-medium-title2-box layout">
            <pre class="main-medium-title2">
1 - positive

0 - indifferent

-1 - negative</pre
            >
            </h2>
        </div>-->
    </div>
    <div class="columns">
        <div class="column_1">
        <h1 class="main-big-title layout1">Top keywords</h1>
            {% for i in keyword %}
        <h2 class="main-medium-title22 layout">- {{i}}</h2>
            {% endfor %}
    </div>
    <div class="column_1">
        <h1 class="main-big-title layout1">Top languages</h1>
            {% for i in languages %}
        <h2 class="main-medium-title22 layout">- {{i}}</h2>
            {% endfor %}
    </div>
    </div>

    <h5 class="main-highlights1 layout">RUSSIAN WARSHIP GO F**K YOURSELF</h5>
</div>
<script type="text/javascript">
      AOS.init();


</script>
</body>
</html>
